:root {
  --gradient-header: linear-gradient(
    90deg,
    rgba(3, 2, 28, 0.459) 0%,
    rgb(98, 98, 202) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  --gradient-card: linear-gradient(
    90deg,
    rgba(25, 23, 85, 0.459) 0%,
    rgb(98, 98, 202) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  --gradient-btn-pagar: linear-gradient(
    90deg,
    rgb(41, 209, 7) 0%,
    rgb(120, 190, 120) 46%,
    rgba(42, 161, 12, 0.685) 100%
  );
  --gradient-btn-provas: linear-gradient(
    90deg,
    rgb(31, 176, 60) 0%,
    rgb(13, 112, 13) 46%,
    rgb(8, 163, 55) 100%
  );
  --white: #fff;
  --gradient-btn-provas2: linear-gradient(
    90deg,
    rgb(194, 196, 164) 0%,
    rgb(192, 147, 0) 46%,
    rgb(235, 224, 189) 100%
  );
}

.tela-pai {
  width: 100%;
  height: 1900px;
  background-color: rgb(23, 43, 8);
}

.image-tela {
  height: 920px;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
  background-image: url(https://images.hdqwalls.com/download/geometry-abstract-4k-art-fx-1920x1080.jpg);
  box-shadow: rgb(0, 0, 0) 0px 18px 36px -18px inset;
}

img {
  object-fit: contain;
}

.tela-pai .tela_one:first-child {
  background-color: rgb(90, 137, 151);
  width: 100%;
  height: 920px;
  position: relative;
  z-index: 1;
}

.tela-pai .tela_two:last-child {
  width: 100%;
  height: 1180px;
  position: relative;
  top: -9.3em;
  z-index: 1;
}

.tela_two .fundo {
  background-color: #000000db;
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.tela_two .fundo-pai {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx-one,
.bx-two,
.bx-tree {
  width: 344px;
  height: 90%;
  background-color: rgba(125, 120, 120, 0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 4px;
}

.titulo-box {
  height: auto;
  padding: 2px 10px;
  width: auto;
  color: #fff;
  font-size: 2.4rem;
}

.linha {
  width: 170px;
  height: 1%;
  background-color: rgba(0, 0, 0, 0.585);
  margin-top: 15px;
  border-radius: 10px;
}

.texto-box {
  margin-top: 15px;
  font-size: 1.2rem;
  width: 87%;
  height: auto;
  padding: 1px;
  overflow-y: auto;
  color: #e5d9d9e2;
}

.texto-box::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.texto-box::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

.texto-box::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

.ct-left {
  width: 430px;
  height: 390px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ct-right {
  width: 500px;
  height: 400px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: 135px;
  background-image: url(https://purepng.com/public/uploads/large/purepng.com-studentsstudentcollege-studentschool-studentstudentsmale-female-1421526924162sp0sf.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 450px;
  background-position-y: end;
}

.titulo-apresentacao {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 700;
  font-family: "Gill Sans", sans-serif;
  height: 80px;
}

.ete {
  color: rgb(30, 177, 10);
}

.ete2 {
  color: rgb(30, 177, 10);
}

.linha-apresentacao {
  width: 190px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 3px;
  background-color: #fff;
}

.texto-apresentacao {
  width: 360px;
  height: 200px;
  padding: 2px;
  color: rgba(247, 244, 244, 0.853);
}

.botao-apresentacao {
  width: 280px;
  height: 50px;
  background: var(--gradient-btn-provas);
  padding-top: 2px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.botao-apresentacao:hover {
  background: var(--gradient-btn-provas2);
  color: #000;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.botao-apresentacao:hover .ete {
  background-color: #000;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
  font-size: 2.7rem;
}

.ct-criadores {
  width: 1000px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.408);
  border-radius: 30px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.cards {
  min-width: 300px;
  height: 340px;
  border: 2px solid white;
  border-radius: 25px;
  background: var(--gradient-card);
  box-shadow: rgba(1, 33, 91, 0.439) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.686) 0px 18px 36px -18px inset;
}

.cards:hover {
  transform: scale(1.1);
  box-shadow: rgba(255, 255, 255, 0.563) 10px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.875) 0px 18px 36px -18px inset;
  transition: all 0.5s ease-in-out;
}

.bx-foto-perfil {
  width: 100%;
  height: 60%;
}

.bx-cargo-perfil {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: end;
}

.bx-nome-perfil {
  width: 100%;
  height: 20%;
}

.foto-perfil {
  width: 140px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-perfil .foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #2e5e2f;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.foto-perfil .icon-foto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000df;
  color: #de3f3f;
  position: relative;
  top: -1.7em;
  right: 2em;
  z-index: 1;
}

.bx-cargo-perfil span {
  color: #ff5151;
  -webkit-text-stroke: 2px #000000;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
  font-family: "Gill sans", sans-serif;
}

.bx-nome-perfil span {
  color: #ffffff;
  font-size: 1.1rem;
  margin-left: 20px;
  font-family: "Gill sans", sans-serif;
}
